.p-img-title{
    display: flex;
    border-bottom: 1px solid lightgray;
   
}

.product-title{
    margin: 20px 10px 10px 20px;
   
}
.product-title h1{
   font-size: 18px;
}
.product-title h1 a{
    text-decoration: none;
   
 }
.add-to-cart-btn{
    width: 150px;
    height: 30px;
    cursor: pointer;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

